# -------- Data fetching tokens -------- #
# HuggingFace Token for data fetching
HF_DATA_TOKEN=your_huggingface_token_here
# Kaggle API Token for data fetching
KAGGLE_API_TOKEN=your_kaggle_api_token_here